# Packages
node_modules/
.yarn/*
!.yarn/cache
!.yarn/patches
!.yarn/plugins
!.yarn/releases
!.yarn/sdks
!.yarn/versions

# Log files
logs/
*.log

# Miscellaneous
.tmp/
.idea/
docs/docs.json
typings/index.js
.DS_Store

# Environments
.env